.sidebar-open {
  user-select: none;
  width: 14%;
  bottom: 0px;
  left: calc(50% - 50vw + 0.4%);
  position: fixed;
  top: calc(50% - 50vh + 0.4%);
  bottom: calc(50% - 50vh + 0.4%);
  transition: all 0.3s ease 0s;
  min-width: 250px;
  z-index: 1;
}

.sidebar-closed {
  width: 6%;
  left: calc(50% - 50vw + 0.4%);
  position: fixed;
  top: calc(50% - 50vh + 0.4%);
  bottom: calc(50% - 50vh + 0.4%);
  transition: all 0.3s ease 0s;
  min-width: 65px;
  max-width: 65px;
  z-index: 1;
}

.pacman {
  margin-left: 5px;
}

.sidebar-header {
  align-items: center;
  background-color: var(--dark);
  border-radius: 20px;
  display: flex;
  position: relative;
  min-height: 90px;
}

.sidebar-logo-container {
  align-items: center;
  border-radius: 20px;
  display: flex;
  padding-left: 5px;
  /* height: var(--asideHeaderHeight);*/
  /*padding: 0 var(--contentHpadding); */
}

.sidebar-button {
  align-items: center;
  background-color: var(--primary);
  border: 0px;
  border-radius: 16px;
  box-shadow: none;
  cursor: pointer;
  display: flex;
  height: 32px;
  justify-content: center;
  outline: 0px;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translate(50%, -50%);
  width: 32px;
  color: inherit;
  font: inherit;
  margin: 0px;
  overflow: visible;
  text-transform: none;
  appearance: button;
  border-width: 0px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: 0px;
}

.sidebar-logo {
  /* height: var(--asideHeaderHeight); */
  margin-top: 5px;
  max-height: 60px;
  min-height: 60px;
  min-width: 60px;
  max-width: 100%;
}

.sidebar-nav {
  background-color: var(--dark);
  /* background-image: url("/static/media/sidebar_top_right.7a4ceb205534781ad569.png"), url("/static/media/sidebar_bottom_right.ecc6cd54ab22e1794c0b.png"); */
  background-position: 100% 0px, 100% 100%;
  background-repeat: no-repeat;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* margin-top: var(--containBoxHPadding); */
  margin-top: 5px;
  min-height: calc(100vh - 90px - 1.5%);
  width: 100%;
  overflow: hidden auto;
}

.sidebar-nav-items {
  line-height: normal;
  cursor: pointer;
  padding: 20px 5px 10px 5px;
}

.sidebar-nav-item {
  position: relative;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 16px;
  line-height: normal;
}

.sidebar-nav-link:hover {
  background-color: var(--primary);
}

.sidebar-nav-link {
  align-items: center;
  border-radius: 34px;
  display: flex;
  height: 64px;
  width: 100%;
  padding: 0px 20px;
  text-decoration: none;
  color: var(--light-gray);
}

.sidebar-nav-link-selected {
  background-color: var(--primary);
  border-radius: 34px;
  color: var(--white);
  cursor: default;
}

.sidebar-nav-link-off {
  align-items: center;
  border-radius: 34px;
  display: flex;
  height: 64px;
  width: 100%;
  padding: 0px 20px;
  text-decoration: none;
  background-color: var(--dark);
  color: var(--tertiary);
  cursor: not-allowed;
}

.sidebar-nav-icon {
  overflow: hidden;
  padding-top: 6px;
}

.sidebar-nav-text {
  margin-left: 10px;
  white-space: nowrap;
}

.sidebar-footer {
  line-height: normal;
  margin: 15px;
}

.sidebar-footer-promo {
  background-color: var(--white);
  border-radius: 13px;
  color: black;
  padding: 19px 14px 14px;
  line-height: normal;
  -webkit-transition: opacity 200ms, visibility 200ms;
  transition: opacity 200ms, visibility 200ms;
  opacity: 1;
  visibility: visible;
}

.sidebar-footer-promo-title {
  font-size: 29.2185px;
  letter-spacing: -0.04em;
  line-height: 90%;
  color: var(--black);
  margin: 0px;
  text-transform: capitalize;
  padding: 0px;
}

.sidebar-footer-promo-text {
  font-size: 29.2185px;
  letter-spacing: -0.04em;
  line-height: 90%;
  color: var(--black);
  font-family: inherit;
  font-weight: 400;
  margin: 0px;
  text-transform: capitalize;
  padding: 0px;
}

.sidebar-footer-promo-button {
  color: var(--white);
  font: inherit;
  margin: 0px;
  border-radius: 0px;
  overflow: visible;
  text-transform: none;
  appearance: button;
  cursor: pointer;
  border-width: 0px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: 0px;
  box-shadow: none;
  outline: 0px;
  padding: 0px;
  align-items: center;
  background-color: var(--green);
  border-radius: 35px;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 100%;
}

.sidebar-footer-promo-button:hover {
  background-color: var(--green-hover);
}

.sidebar-footer-button {
  position: relative;
  width: 100%;
  line-height: normal;
}

.sidebar-footer-button-box {
  align-items: center;
  background-color: var(--primary);
  border-radius: 35px;
  cursor: pointer;
  display: flex;
  height: 64px;
  justify-content: space-between;
  width: 100%;
  line-height: normal;
}

.sidebar-footer-button-box-content {
  display: flex;
  align-items: center;
  line-height: normal;
}

.sidebar-footer-button-box-content-profile-img {
  border-radius: 50%;
  height: 90%;
  width: 90%;
  border-color: var(--green);
  border-width: 4px;
  border-style: solid;
}

.sidebar-footer-button-box-content-icon {
  align-items: center;
  background-color: var(--tertiary);
  border-radius: 30px;
  display: flex;
  height: 64px;
  justify-content: center;
  line-height: 0;
  margin-right: 12px;
  position: relative;
  width: 64px;
}

.sidebar-footer-button-box-content-text {
  line-height: normal;
}

.sidebar-footer-button-box-content-text-main {
  font-weight: 400;
}

.sidebar-footer-button-box-content-text-sub {
  margin: 0px;
  line-height: normal;
  color: var(--light-gray);
  font-weight: 400;
  padding: 0px;
  font-size: 12px;
  margin-top: 3px;
}

.sidebar-footer-button-box-content-arrow {
  margin: 8px 20px 0px 0px;
  line-height: normal;
}

.sidebar-footer-button-dropdown {
  transform: translateY(-8px);
  -webkit-transition: opacity 300ms, visibility 300ms;
  transition: opacity 300ms, visibility 300ms;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  right: 0;
  bottom: calc(100%);
  height: 100%;
  min-height: 40px;
  max-height: 50px;
  width: 100%;
  padding: 0px 0px 20px 0px;
}

.sidebar-footer-button-dropdown-content {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 100%;
  border-radius: 10px;
  background-color: var(--primary);
}

.sidebar-footer-button-dropdown-content-item {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 64px;
  justify-content: space-between;
  line-height: normal;
  padding: 0px 20px;
}

.sidebar-footer-button-dropdown-content:hover {
  background-color: var(--tertiary);
}

.sidebar-footer-button-box-content-arrow:hover {
  color: var(--gray);
}
